
@{
    ViewBag.Title = "Index";
}

<my-app>Loading AppComponent content here ...</my-app>
<div>
    <style-ex2>Loading StyleExample2 content here ...</style-ex2>
</div>
<div>
    <my-events>Click event button loading</my-events>
</div>


